    <section class="bg-primary" >
        <div class="container">
            <div class="row">
                <div class="custom-padding">
                    <h2 class="text-center text-primary section-heading">Festival Program</h2>
                    <hr>

                        <p class="text-black text-center"> Scan the QR code below to check out the LAICFF Official Selection & Screening Schedule. </p>

                        <p class="text-center">
                            <img src="images/qr2.jpg">
                        </p>

                        <p class="text-black text-center"> Or download the Official Selection Information <a ng-href="images/selection.pdf"> here. </a>  </p>

                </div>
            </div>
        </div>
    </section>

    <section class="bg-dark" style="background-color: #1b1919 !important">
    <div class="container">
        <p class="text-center"> <img class="img-responsive" src="images/timeline.png"> </p>
    </div>

    </section>

    <div ng-include="'/views/footer.html'"> </div>
