    <section class="bg-primary">
        <div class="container">
            <div class="row">
                <div class="custom-padding">
                    <h2 class="text-center text-primary section-heading">Awards & Prizes</h2>
                    <hr>
                    <ul>
                        <li> <h4 class="text-primary"> Jury's Culture Award </h4>
                        <p class="text-black"> Jury's Culture Award is the award given to the submission which best demonstrates or presents a certain regional culture, and therefore has the highest cultural significance. 
                        </p> 

                        <p class="text-black"> Value of Goods/Services: 1,000 U.S. Dollar </p>
                        <li> <h4 class="text-primary"> Best Picture </h4>
                        <p class="text-black"> Value of Goods/Services: 1,000 U.S. Dollar </p>

                         </li>
                        <li> <h4 class="text-primary"> Best Director </h4>
                        <p class="text-black"> Value of Goods/Services: 500 U.S. Dollar </p>

                         </li>
                        <li> <h4 class="text-primary"> Best Screenplay </h4>
                        <p class="text-black"> Value of Goods/Services: 300 U.S. Dollar </p>
                        <p class="text-black"> Winning Screenplay will directly be passed on to supporting film producers. </p>

                         </li>
                        <li> <h4 class="text-primary"> Best Documentary </h4>
                        <p class="text-black"> Value of Goods/Services: 500 U.S. Dollar </p>

                         </li>
                        <li> <h4 class="text-primary"> Best Cinematography </h4>
                        <p class="text-black"> Value of Goods/Services: 500 U.S. Dollar </p>

                         </li>
                        <li> <h4 class="text-primary"> Best Production Design </h4>
                        <p class="text-black"> Value of Goods/Services: 500 U.S. Dollar </p>

                       </li>

                    </ul>

                </div>
            </div>
        </div>
    </section>

    <div ng-include="'/views/footer.html'"> </div>
