    <section class="bg-primary">
        <div class="container">
            <div class="row">
                <div class="custom-padding">
                    <h2 class="text-center text-primary section-heading">Tickets & RSVP</h2>
                    <hr>
                    <ul>
                        <li>
                        <p class="text-black"> LAICFF takes place on January 10th, 2016 at UCLA Carnesale Commons. There are two types of tickets to LAICFF:
                        </p> 
                        </li>
                        <li> <h4 class="text-primary"> General Admission (Professional Mixer admission not included) </h4>
                        <p class="text-black"> 
                        A pass that gives you all the access to our official screenings, highlight screenings, guest panel, red carpet, and the grand finale. 

                        Please note that the admission to the professional mixer is NOT included in the general admission. To get into the professional mixer with limited access, make sure you also get the Professional Mixer pass. 

</p> </li>
                        <li> <h4 class="text-primary"> Professional Mixer Pass </h4>
                        <p class="text-black"> This is your chance to mingle with LAICFF official selection filmmakers, industry professionals, and film scholars. Light food and drinks will be provided. 

</p> </li>
                        </br>
                    
                        <li class="text-center"> <h3 class="text-primary"> Get your ticket NOW </h3> </li>
                       <li class="text-center"> <a href="https://reslife.ucla.edu/z/9ar65hcwpjqtvyndk7zs" class="btn btn-primary"> UCLA STUDENT/STAFF CLICK HERE </a> </li>
                       </br>

                       <li class="text-center"> <a href="https://www.eventbrite.com/e/los-angeles-international-culture-film-festival-laicff-tickets-18887691594" class="btn btn-primary"> TICKETS FOR EVERYONE ELSE </a> </li>
                    </ul>

                </div>
            </div>
        </div>
    </section>

    <div ng-include="'/views/footer.html'"> </div>
