<section class="bg-primary">
	<div class="inset">
		<div class="left">
			<section class="border">
			<h2 class="text-primary"> Free Party
 </h2>
				<img src="images/free-party/image01.jpg" class="img-fit"> 
				<img src="images/free-party/image02.jpg" class="img-fit">  
				<img src="images/free-party/image03.jpg" class="img-fit">  
				<hr>

			<p class="text-black">DIRECTOR : Fred Gélard   </p>
			<p class="text-black">SCREENWRITER : Fred Gélard , Sabine Cipolla 
  </p>
			<p class="text-black"> Martin Combes, Pierre Lottin, Marion Frizot  </p>
			<p class="text-black"> France /  36'14''
 </p>



			</section>

			<section class="border">

			<h2 class="text-primary"> SYNOPSIS </h2>
			<p class="text-black"> Julien (19) arrives unannounced at his brother Max’s place. Max (28) lives in a travellers’ camp in the middle of the Forêt Cévenole. The brothers have not seen each other for several years. Julien falls in love with Lise, a casual lover of Max’s. Lise, who also lives in the community,  makes music with Max. This messy love upsets Julien and causes between the brothers unresolved family conflicts to resurface. </p>


			<p class="text-black"> YEAR 2014 </p>
			<p class="text-black"> SECTION Narrative - Drama </p>
			<p class="text-black"> COUNTRY France </p>
			<p class="text-black"> RUN TIME 36'14'' </p>
			<p class="text-black"> EMAIL fredericgelard@hotmail.com </p>

			<h2 class="text-primary"> CAST & CREDITS </h2>


			<p class="text-black"> DIRECTOR    				Fred Gélard  </p>
			<p class="text-black"> SCREENWRITER   			Fred Gélard , Sabine Cipolla  </p>
			<p class="text-black"> PRODUCER          	    Dante Desarthe 
 </p>
			<p class="text-black"> CINEMATOGRAPHER        Puja Maewal </p>
			<p class="text-black"> KEY CAST  		            KEY CAST   				Martin Combes, Pierre Lottin, Marion Frizot </p>
			<p class="text-black"> EXECUTIVE PRODUCER 		Dante Desarthe
 </p>
			<p class="text-black"> KEY CAST  		            Faimida Shaikh </p>
			<p class="text-black"> ASSISTANT DIRECTOR  		Émilie Noblet </p>
			<p class="text-black"> CINEMATOGRAPHER 		Jean-Philippe Bouyer</p>
			<p class="text-black"> KEY CAST  		            Faimida Shaikh </p>
			<p class="text-black"> SOUND  				Pascal Ribier </p>
			<p class="text-black"> ASSISTANT OPERATOR  		Cédric Ledonche </p>
			<p class="text-black"> EDITOR  				Elif Uluengin </p>
			<p class="text-black"> SOUND EDITOR 			Benjamin Jaussaud </p>
			<p class="text-black"> CONTINUITY SUPERVISOR 	Amandine Assenat </p>
			<p class="text-black"> PRODUCTION DESIGNER 		Daniel Koson </p>
			<p class="text-black"> COMPOSER  				Grégory Corsaro </p>
			<p class="text-black"> COSTUME DESIGNER   		Élisabeth Méhu </p>
			<p class="text-black"> SOUND MIXER  			Roman Dymny </p>

			</section>
		</div>


		<div class="right">
			<section class="border">
				<h3 class="text-primary"> Director: Fred Gélard 
 </h3>
				<img src="images/free-party/image00.png" class="img-fit"> 

				<hr>

				<p class="text-black"> Fred Gélard is an actor, director and screenwriter. Formed in Beaux-arts school and National Conservatory of Dramatique Art in Rennes, he begins in movies in 1991, plays the main character  of "Beau fixe" by Christian Vincent and "Fast" by Dante Desarthe in 1993 and 1994. He continues to play in Cinéma and begins to work for télévision from 1999. He begins as director in 1996 with a first short movie "Où tu vas" in which he plays and who will be programme on Arte the following year. Then he made two others shorts movies "Ma vie active" and "Dans mon île" both programmed on TPS and France 3 and primed in severals festivals. "Free party" is his fourth film. He works on two feature films at the moment.
				</p>
				
			</section>
		</div>
	</div>
</section>