<section class="bg-primary">
	<div class="inset">
		<div class="left">
			<section class="border">
			<h2 class="text-primary"> Not a word about your mother
 </h2>
			<img src="images/nwam/image00.jpg" class="img-fit">  
			<hr>
			<p class="text-black">DIRECTOR :  Daria Razumnikova </p>
			<p class="text-black">SCREENWRITER :  Daria Razumnikova, Elina Mnatsyan
  </p>
			<p class="text-black"> CAST:  Roza Khairullina, Elena Polyakova, Pavel Trubiner 
</p>
			<p class="text-black">  Russian Federation /  14'08''
 </p>



			</section>

			<section class="border">
			<img src="images/nwam/image02.jpg" class="img-fit">  
			<img src="images/nwam/image03.jpg" class="img-fit">  
			<img src="images/nwam/image04.jpg" class="img-fit">  

			<h2 class="text-primary"> SYNOPSIS </h2>
			<hr>
			<p class="text-black"> Anna has a man, who she loves, on the one hand and a beloved mother on the other.  An insane connection with her mother, which does not let Anna live on her own, ruins the relationship with her boyfriend, because she got stuck in the past.</p>

			<p class="text-black"> Anya a sa mère bien-aimée et son homme bien-aimé. L`affection folie a sa mère laquelle ne veut pas laisser sa fille dérange des relations avec cet homme et ne laisse aucune chance à l'héroïne sur la vie indépendante.</p>

			<p class="text-black"> YEAR 2014 </p>
			<p class="text-black"> SECTION Narrative - Drama, Family, Mystery </p>
			<p class="text-black"> COUNTRY Russian Federation </p>
			<p class="text-black"> RUN TIME 14'08'' </p>
			<p class="text-black"> EMAIL d.razumnikova@gmail.com </p>

			<h2 class="text-primary"> CAST & CREDITS </h2>
			<hr>

			<p class="text-black"> DIRECTOR                                Daria Razumnikova</p> 
			<p class="text-black"> SCREENWRITER                      Daria Razumnikova, Elina Mnatsyan </p>
			<p class="text-black"> PRODUCER                               Elena Glikman </p>
			<p class="text-black"> CINEMATOGRAPHER               Pavel Beklemishev, Aleksandr Kuznetsov </p>
			<p class="text-black"> SOUND                                       Elena Titova</p> 
			<p class="text-black"> MUSIC                                        Nikolaj Egelund </p>
			<p class="text-black"> CAST                                          Roza Khairullina, Elena Polyakova, Pavel Trubiner </p>
			</section>
		</div>


		<div class="right">
			<section class="border">
				<h2 class="text-primary"> About the filmmaker </h2>
				<img src="images/nwam/image01.png" class="img-fit"> 

				<h3 class="text-primary"> Director: Daria Razumnikova </h3>
				<hr>
				<p class="text-black"> Born in Moscow. Initially she studied as a marketing specialist. She worked as an art director assistant at the theatre «Praktika», and also at «Textura» festival, press relations service. In 2012 she graduated from the State University – Higher School of Economics, fiction film directing workshop of Anna Fenchenko, Alexander Kott and Vladimir Kott. </p>
				\
			</section>
		</div>
	</div>
</section>