<section class="bg-primary">
	<div class="inset">
		<div class="left">
			<section class="border">
			<h2 class="text-primary"> SAMUEL COLT </h2>

			</section>

			<section class="border">

			<h2 class="text-primary"> SYNOPSIS </h2>
			<p class="text-black"> Samuel Colt is a supernatural thriller with similarities to films like The Devil's Advocate or Limitless. The main character undergoes an extreme carpe diem journey after realizing that selling your soul to the devil in order to accomplish your dreams is the fastest way to turn your life into a living nightmare. "God created man, Samuel Colt made them equal.”
			 </p>


<!-- 			<p class="text-black"> YEAR 2014 </p>
			<p class="text-black"> SECTION Narrative - Drama </p>
			<p class="text-black"> COUNTRY India, USA </p>
			<p class="text-black"> RUN TIME 18'30'' </p>
			<p class="text-black"> EMAIL pujafilm@gmail.com </p>

			<h2 class="text-primary"> CAST & CREDITS </h2>


			<p class="text-black"> DIRECTOR	         	            Puja Maewal </p>
			<p class="text-black"> SCREENWRITER		 Puja Maewal </p>
			<p class="text-black"> PRODUCER          	            Puja Maewal </p>
			<p class="text-black"> CINEMATOGRAPHER        Puja Maewal </p>
			<p class="text-black"> KEY CAST  		            Faimida Shaikh </p -->>
			</section>
		</div>


		<div class="right">
			<section class="border">
				<h3 class="text-primary"> Director: Oleguer Homs </h3>


				<p class="text-black">  Oleguer Homs has published a scifi Catalan novel called “The Promised Land” in 2012. He has studied Audivisual Communications at UVIC, a master in Film Directing at ESCAC, and Film and TV Writing at UCLA Extension. </p>
			</section>
		</div>
	</div>
</section>