<section class="bg-primary">
	<div class="inset">
		<div class="left">
			<section class="border">
			<h2 class="text-primary"> SIDE ROADS </h2>
			<p class="text-black">DDIRECTOR Julia Sokolnicka </p>
			<p class="text-black"> Poland  /  17’24’’  </p>
			<hr>
			<img src="images/side-roads/image01.png" class="img-fit">  
			<img src="images/side-roads/image02.png" class="img-fit">  
			<img src="images/side-roads/image04.png" class="img-fit">  
			<img src="images/side-roads/image05.png" class="img-fit">  






			</section>

			<section class="border">

			<h2 class="text-primary"> SYNOPSIS </h2>
			<hr>
			<p class="text-black"> Polish roads. Drivers we meet share glimpses of their lives, illustrated by sights of an everyday road, reflecting on their reality and dreams. In Slavic manner of rough kindness, shown in intimate space of their cars, they help to capture the identity of a nation in change - on the move between East and West.The landscape of awkward commercials, bumpy roads driven through by trucks, local businesses and grotesque architecture, reflect the 25 year history of economical journey that Poland is on.  </p>


			<p class="text-black"> YEAR 2015 </p>
			<p class="text-black"> SECTION Documentary Short Films </p>
			<p class="text-black"> COUNTRY Netherland / Poland </p>
			<p class="text-black"> RUN TIME 17’24’’  </p>
			<p class="text-black"> EMAIL julia.sokolnicka@gmail.com </p>

			<h2 class="text-primary"> CAST & CREDITS </h2>
			<hr>


			<p class="text-black"> DIRECTOR	         	          Julia Sokolnicka </p>
			<p class="text-black"> PRODUCER          	          Julia Sokolnicka </p>
			<p class="text-black"> CINEMATOGRAPHER     Mateusz Wołoczko </p>
			<p class="text-black"> EDITOR   		          Pedro Collantes </p>
			<p class="text-black"> SOUND EDITOR               Kamila Wójcik </p>

			</section>
		</div>


		<div class="right">
			<section class="border">
				<h2 class="text-primary"> About the filmmaker </h2>
				<img src="images/side-roads/image03.png" class="img-fit"> 

				<hr>
				<p class="text-black">JULIA SOKOLNICKA is a Warsaw based artist born 1983. She works mostly as a documentary and short filmmaker. </p>

				<p class="text-black">She’s an author of music, and dance videos and visual concepts for theatre and commercials. She collaborated with artists of different origins, working in Europe and in United States. </p>

				<p class="text-black">She also worked as a journalist and photographer.  </p>

				<p class="text-black">She studied Philosophy in Warsaw University and Film Directing in Wajda School and Katowice National Film and Television School. She currently finishes her Master of Film studies at Nederlandse Filmacademie in Amsterdam.  </p>

				<p class="text-black"> Julia runs an art directing company called Susok  </p>
				<h3 class="text-primary"> PRODUCTION NOTES </h3>
				<hr>
				<p class="text-black"> Side Roads is a film written and produced by director Julia Sokolnicka. It started as a road trip hitchhiking adventure in a -20F temperatures, where director and cinematographer simply approached people they would never meet elsewhere by the tiny roads and suburbian gas stations. The footage and tales turned out to be amazing as well as the landscape become more and more fascinating. Longer we explored the hidden charm of commercial mozaics and architectural peculiarities, it became obvious that those landscapes reflect the change itself. Both economical and individual. </p>
				<p class="text-black">We were working for free and for passion, but as young filmmakers in an economically unstable country we could not afford more than few days of shooting and that's why the project was shot in three winters between 2012 and 2015. The postproduction fonds where simply a budget from the directors artistic research budget on the Nederlandse Filmacademy and they consisted of 4 000 eu. </p>
				<p class="text-black"> Almost whole film was shot on Canon D5 DSLR. The characters chosen to the final edit where picked from over 20 different characters met on the road. </p>
				<p class="text-black"> Some of those people shared really intimate stories treating a camera as a therapy. </p>
				<p class="text-black"> Being let into the interior of their cars was like entering their territory. They would open up immediately, sharing even more than would want to show.</p>
			</section>
		</div>
	</div>
</section>