<section class="bg-primary">
	<div class="inset">
		<div class="left">
			<section class="border">
			<h2 class="text-primary"> The Good Old Days </h2>
			<hr>
			<p class="text-black">DIRECTOR :  Bat-Amgalan, Ian Allardyce  </p>
			<p class="text-black">SCREENWRITER :   Bat-Amgalan, Ian Allardyce  </p>
			<p class="text-black"> CAST:  Zolzaya Enkhbold, Byamba </p>
			<p class="text-black"> Mongolia /  14'30'' </p>



			</section>

			<section class="border">

			<h2 class="text-primary"> SYNOPSIS </h2>
			<hr>
			<p class="text-black"> A lone horseman travels a harsh and ruinous future landscape. The precious fuel he carries attracts the attention of an unwanted traveling companion. In this world of depleted resources we consider whether friendship and morality still outmatch fear, greed and the force of violence. </p>

			<p class="text-black"> YEAR 2013 </p>
			<p class="text-black"> SECTION Narrative - Drama, Adventure, Horror </p>
			<p class="text-black"> COUNTRY Mongolia </p>
			<p class="text-black"> RUN TIME 14'30'' </p>
			<p class="text-black"> EMAIL batamgalan.lkha@gmail.com </p>

			<h2 class="text-primary"> CAST & CREDITS </h2>
			<hr>

			<p class="text-black"> DIRECTOR	         	            Bat-Amgalan, Ian Allardyce  </p>
			<p class="text-black"> PRODUCER          	            Bat-Amgalan, Ian Allardyce  </p>
			<p class="text-black"> CINEMATOGRAPHER        Bat-Amgalan, Ian Allardyce  </p>
			<p class="text-black"> KEY CAST  		            Zolzaya Enkhbold, Byamba </p>

			</section>
		</div>


		<div class="right">
			<section class="border">
				<h2 class="text-primary"> About the filmmaker </h2>
				<img src="images/tgod/image00.png" class="img-fit"> 
				<hr>
				<h3 class="text-primary"> Director:  Bat-Amgalan </h3>

			</section>
		</div>
	</div>
</section>