<section class="bg-primary">
        <div class="container">
            <div class="row">
                <div class="custom-padding">
                    <h2 class="text-center text-primary section-heading">ABOUT LAICFF</h2>
                    <hr>
                    <ul>
                        <li>

                        <p class="text-black"> LAICFF (Los Angeles International Culture Film Festival) is an annual film festival founded by ISFA (International Student Film Association), serving to endorse filmmakers of diverse backgrounds, incorporate cultural significance into cinematic artistry. We provide an international platform for aspiring filmmakers to present their original works. 
                        </p> 

                        <p class="text-black"> Featuring film screenings, panel discussions, professional mixers, guest speeches, and award ceremony, LAICFF is dedicated to bringing excellent film works to the vibrant student community and a broader film industry.
                        </p>

                        <p class="text-black"> Having received more than 300 submissions from 47 countries, the first annual LAICFF launched successfully on January 10, 2016. The one-day event has attracted more than 500 attendees, including filmmakers and film industry professionals from all over the world.
                        </p>

                        <p class="text-black"> Inheriting the legacy of our first event, the second annual LAICFF will upgrade the festival scale and continue to bring even greater influence to the film community.
                        </p>

                        <p class="text-black"> MISSION & OBJECTIVES:
                            <ul>
                                <li class="text-black"> Promotes up-and-coming filmmakers and presents socioculturally significant films </li>
                                <li class="text-black"> Enhances media exposure of film artists’ works to a wider audience </li>
                                <li class="text-black"> Provides attendees with a variety of opportunities for career development and communicative networking </li>
                                <li class="text-black"> Highlights artistry and sharpness of cultural short films </li>
                                <li class="text-black"> Raises public awareness and provokes meaningful conversations about social messages delivered by the short films </li>
                            </ul>
                        </p>

                        <p class="text-black"> If you share the same belief with us, please join us and become a part of the LAICFF community.
                        </p>

                        <p class="text-black"> For more information on supporting LAICFF, please contact the LAICFF Team at <a href="mailto:admin@laicff.org"> admin@laicff.org </a>
                        </p>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </section>


    <div ng-include="'/views/footer.html'"> </div>
