<section class="bg-primary">
<div class="container">
  <div class="panel panel-default">
    <div class="panel-heading">
        <h2 class="heading-text" style="text-align: center">LAICFF Gallery</h2>
    </div>
    <div class="panel-body full">
      <div class="row show-list">
        <div class="col-xs-4 col-md-3 img-hover" ng-repeat="galleryImage in pictureObjects"
          ng-click="openPopup(galleryImage)">
            <div class="img-rounded img-size" ng-style="{'background-image': 'url({{galleryImage.images[0].source}})'}">
            </div>
          <div class="text-center">
            <p class="text-muted"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</section>