<section class="bg-contact" id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-primary text-white">CONTACT US</h2>
                    <hr class="text-white">
                </div>
            </div>

            <div class="row">
                <div class="col-lg-2 col-md-2 col-sm-0"></div><!--indent two images-->
                <div class="col-lg-4 col-md-4 col-sm-12 text-center">
                    <div class="service-box">
                        <i class="fa fa-facebook-square fa-3x text-white"> </i>
                        <a href="https://www.facebook.com/laicff" class="text-white block"> https://www.facebook.com/laicff </a>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 text-center">
                    <div class="service-box">
                        <i class="fa fa-envelope-o fa-3x text-white"> </i>
                        <a href="mailto:admin@laicff.org" class="text-white block">admin@laicff.org</a>
                    </div>
                </div>
                <!--<div class="col-lg-4 col-md-4 col-sm-12 text-center">
                    <div class="service-box">
                        <i class="fa fa-twitter-square fa-3x text-white"> </i>
                        <a href="https://twitter.com/LAICFF" class="text-white block"> @LAICFF </a>
                    </div>
                </div>-->
                <div class="col-lg-2 col-md-2 col-sm-0"></div>
            </div>

            <div class="row">
                <div class="col-lg-12 text-center">
                    <div id="mc_embed_signup">
                        <form action="http://laicff.us11.list-manage.com/subscribe/post?u=8bfbd99df1c79168232035e84&amp;id=8a7c38ce47" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                            <div id="mc_embed_signup_scroll">
                                <h2 class="text-white">Subscribe to our mailing list</h2>
                                <div class="indicates-required text-white"><span class="asterisk">*</span> indicates required</div>
                                <div class="form-group">
                                    <input type="email" value="" placeholder="Your Email*" name="EMAIL" class="form-control custom-form" id="mce-EMAIL">
                                </div>
                                <div class="form-group">
                                    <input type="text" value="" placeholder="Your First Name" name="FNAME" class="form-control custom-form" id="mce-FNAME">
                                </div>
                                <div class="form-group">
                                    <input type="text" value="" placeholder="Your Last Name" name="LNAME" class="form-control custom-form" id="mce-LNAME">
                                </div>
                                <div id="mce-responses" class="clear">
                                    <div class="response" id="mce-error-response" style="display:none"></div>
                                    <div class="response" id="mce-success-response" style="display:none"></div>
                                </div>    
                                <div style="position: absolute; left: -5000px;"><input type="text" name="b_8bfbd99df1c79168232035e84_8a7c38ce47" tabindex="-1" value=""></div>
                                <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary"></div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
</section>

    <div ng-include="'/views/footer.html'"> </div>
