<section id="sponsors" class="bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading text-primary">BECOMING A SPONSOR</h2>
                    <hr class="primary">
                    <p class="text-black">By supporting LAICFF you join an elite group of brands who support international culture preservation, filmmaking, and the arts. From daily programs to gathering sponsorships to posters to branded giveaways, LAICFF offers an abundance of opportunities to promote your brand to an audience of film aficionados, trendsetters and influencers.</p>

                    <p class="text-black">Through a mixture of access, exposure, hospitality, social media and experiential activation, each sponsor receives a customized package of benefits tailored specifically to their organization’s strategic goals.</p>

                    <p class="text-black">Audience engagement is necessary and exciting element of collaborating with LAICFF. Crafting a custom program with measurable and tangible results is a welcomed opportunity. </p>

                    <p class="text-black">For information about sponsorship opportunities, please contact us at <a href="mailto:admin@laicff.org">admin@laicff.org</a>. </p>
                </div>

                <div class="row text-center">
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                            <h2 class="section-heading text-primary">PARTNERS</h2>
                            <hr class="primary">
                    </div>
                    <div class="row">
                        <div style="display: inline-block" class="col-xs-12 col-md-6 col-sm-6 col-lg-6 center sponsor-div"><img style="display: inline-block" src="../images/chuan-mei.jpg" border=0></div>
                        <div style="display: inline-block" class="col-xs-12 col-md-6 col-sm-6 col-lg-6 center sponsor-div"><img style="display: inline-block" src="../images/dashew-center.png" title="Click to submit with FilmFreeway" width="auto" height="53"></div>

                    </div>

                    <div class="col-lg-8 col-lg-offset-2 text-center">
                            <h2 class="section-heading text-primary">SPONSORS</h2>
                            <hr class="primary">
                    </div>
                    <div class="row">
                        <div style="display: inline-block" class="col-xs-12 col-md-6 col-sm-6 col-lg-6 center sponsor-div"><img src="images/vantone.jpg" width="auto" height="60"></div>


                        <div style="display: inline-block" class="col-xs-12 col-md-6 col-sm-6 col-lg-6 center sponsor-div"><img style="display: inline-block" src="images/Hefeng.jpg" width="auto" height="60"></div>

                        <div style="display: inline-block" class="col-xs-12 col-md-6 col-sm-6 col-lg-6 center sponsor-div"><img style="display: inline-block" src="images/tianyi.jpg" width="auto" height="60"></div>

                        <div style="display: inline-block" class="col-xs-12 col-md-6 col-sm-6 col-lg-6 center sponsor-div"><img style="display: inline-block" src="images/guangxian.png" width="auto" height="60"></div>
                    </div>
                </div>


            </div>
        </div>
    </section>

    <div ng-include="'/views/footer.html'"> </div>
