<section class="bg-primary">
        <div class="container">
            <div class="row">
                <div class="custom-padding">
                    <h2 class="text-center text-primary section-heading">Individual Giving</h2>
                    <hr>
                    <ul>
                        <li>
                        <p class="text-black"> <strong> Together we can preserve and promote cultural diversity in cinema.  </strong> </p>
                        <p class="text-black"> We believe that artists, no matter from what background, what culture, should always be able to create in their truest voice, independent and authentic to their vision. 
                        </p> 

                        <p class="text-black"> We believe that artists from any cultural background should always have the means to create and the ability to reach the audience who crave to see their work. We believe that everyone should have the equal chance to showcase their own perspective to the world, their culture, their society, their dreams, their stories... regardless of country boundary, racial difference, or political barrier.
                        </p>

                        <p class="text-black"> We believe that all cultures in the world deserve the same treasuring. 
                        </p>

                        <p class="text-black"> If you believe as we do, please join us and become a part of the Los Angeles International Culture Film Festival community.
                        </p>

                        <p class="text-black"> For more information on supporting LAICFF, please contact the LAICFF Team at <a href="mailto:admin@laicff.org"> admin@laicff.org </a>
                        </p>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </section>

<div ng-include="'/views/footer.html'"> </div>
