<header>
    <div class="header-content">
        <div class="header-content-inner">
            <img class="logo" src="images/logo/white_logo_plain.png">
            <p class="light-weight">Los Angeles International Culture Film Festival</p>

            <!--<a du-smooth-scroll="about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>-->
        </div>
    </div>
</header>

<div class="row horizontal-stripe"></div>
<div class="row img-container delete-gap">
    <img class="new-year-poster" src="images/poster-bg.png" alt="new-year">
    <div class="poster-words">   
        <p id="title">LAICFF 2017</p>
        <p id="submit-open">SUBMISSION OPEN</p>
        <a ng-href="#/submit_guidelines">for more information please click here</a>
    </div>
</div>
<div class="row delete-gap xs-not-seen">
    <div class="col-sm-2 no-padding"><img class="img-responsive" src="images/main-page-photo/9648.jpg" alt="festival-photo-1"></div>
    <div class="col-sm-2 no-padding"><img class="img-responsive" src="images/main-page-photo/9560.jpg" alt="festival-photo-2"></div>
    <div class="col-sm-2 no-padding"><img class="img-responsive" src="images/main-page-photo/9666.jpg" alt="festival-photo-3"></div>
    <div class="col-sm-2 no-padding"><img class="img-responsive" src="images/main-page-photo/0276.jpg" alt="festival-photo-4"></div>
    <div class="col-sm-2 no-padding"><img class="img-responsive" src="images/main-page-photo/0388.jpg" alt="festival-photo-5"></div>
    <div class="col-sm-2 no-padding"><img class="img-responsive" src="images/main-page-photo/0925.jpg" alt="festival-photo-6"></div>
</div>

<!--footer-->
<div class="delete-gap" ng-include="'/views/footer.html'"></div>
