
    <section class="bg-primary">
        <div class="container">
            <div class="row">
                <div class="custom-padding">
                    <h2 class="text-center text-primary section-heading">Submission Overview</h2>
                    <hr>
                    <p class="text-black">LAICFF has received more than 300 submissions from 47 countries and regions, including but not limited to: China, Philippines, USA, Portugal, Germany, Puerto Rico, United Kingdom, Canada, Taiwan, Turkey, South Korea, Australia, Denmark, Finland, Spain, Poland, Iran, United Arab Emirates, Russian Federation, India, France, Greece, Cyprus, Kurdistan, Italy, Switzerland, Netherlands, Hong Kong, Belgium, Brazil, Macao, Sweden...

                    Check out the map below to see what countries and regions LAICFF has covered: </p>
<!--                     <p class="text-primary"> •  China </p>
                    <p class="text-primary"> •   Philippines </p>
                    <p class="text-primary"> •   USA  </p>
                    <p class="text-primary"> •   Portugal  </p>
                    <p class="text-primary"> •   Germany  </p>
                    <p class="text-primary"> •   Puerto Rico  </p>
                    <p class="text-primary"> •   United Kingdom  </p>
                    <p class="text-primary"> •   Canada </p>
                    <p class="text-primary"> •   Taiwan </p>
                    <p class="text-primary"> •   Turkey </p>
                    <p class="text-primary"> •   South Korea </p>
                    <p class="text-primary"> •   Australia </p>
                    <p class="text-primary"> •   Denmark </p>
                    <p class="text-primary"> •   Finland </p>
                    <p class="text-primary"> •   Spain </p>
                    <p class="text-primary"> •   Poland </p>
                    <p class="text-primary"> •   Iran</p>
                    <p class="text-primary"> •   United Arab Emirates </p>
                    <p class="text-primary"> •   Russian Federation </p>
                    <p class="text-primary"> •   India </p>
                    <p class="text-primary"> •   France </p>
                    <p class="text-primary"> •   Greece </p>
                    <p class="text-primary"> •   Cyprus </p>
                    <p class="text-primary"> •   Kurdistan </p>
                    <p class="text-primary"> •   Italy </p>
                    <p class="text-primary"> •   Switzerland </p>
                    <p class="text-primary"> •   Netherlands </p>
                    <p class="text-primary"> •   Hong Kong </p>
                    <p class="text-primary"> •   Belgium </p>
                    <p class="text-primary"> •   Brazil </p>
                    <p class="text-primary"> •   Macao </p>
                    <p class="text-primary"> •   Sweden </p> -->

                    <div id="regions_div" style="width: 1000px; height: 500px;"></div>


                </div>
            </div>
        </div>
    </section>

    <div ng-include="'/views/footer.html'"> </div>
