<section id="submit">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading text-white">SUBMIT</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">

                <div class="text-center">
                    <div class="" data-wow-delay=".1s">
                        <p class="text-white"> LAICFF accepts submissions through Withoutabox and Film Freeway. To submit, click on the logo of either submission platforms below </p>

                        <br> 
                        <div class="row">
                        <a style="display: inline-block" class="col-md-6 col-sm-6 col-lg-6" href="http://www.withoutabox.com/login/14209" target="_blank"><img style="display: inline-block" src="http://www.withoutabox.com/09images/partner_box.gif" border=0></a>
                        <a style="display: inline-block" href="https://filmfreeway.com/festivals/7799?utm_campaign=Submission+Button&utm_medium=External&utm_source=Submission+Button" class="col-md-6 col-sm-6 col-lg-6" target="_blank" title="Click to submit with FilmFreeway"><img style="display: inline-block" src="https://storage.googleapis.com/filmfreeway-assets/submission_buttons/submit_btn-tangerine_lg.png?2" title="Click to submit with FilmFreeway" width="auto" height="53"></a>
                        </div>

                        <br> 
                        <p class="text-muted-small">Withoutabox logos are trademarks of Withoutabox, a DBA of IMDb.com Inc. or its affiliates.</p>

                    </div>
                </div>

        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 text-center">
                    <div class="service-box" data-wow-delay=".3s">
                        <h3 class="text-primary text-white">WHO CAN SUBMIT</h3>
                        <p class="text-muted text-white">All filmmakers, whether student or professional, independent or corporate, are equally welcomed</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 text-center">
                    <div class=" service-box" data-wow-delay=".4s">
                        <h3 class="text-primary text-white">SUBMISSION PERIOD</h3>
                        <p class="text-muted text-white">AUGUST 22 - JANUARY 30</p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12 text-center">
                    <div class=" service-box" data-wow-delay=".5s">

                        <h3 class="text-primary text-white">CATEGORIES</h3>
                        <p class="text-muted text-white">The 2017 LAICFF only accepts SHORTS under 40 minutes 
                        </p>

                        <p class="text-muted text-white">                         
                        All genres are welcomed </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-12">
                    <div class=" service-box" data-wow-delay=".6s">
                        <h3 class="text-center text-primary text-white">QUALIFICATION</h3>
                        <p class="text-muted text-white">Entries must meet at least ONE criterium from below: </p>
                        <ul>
                            <li class="text-white"> Imbed certain local culture </li>
                            <li class="text-white"> Reflect certain cultural/social issue </li>
                            <li class="text-white"> Demonstrate local filmmaking style </li>
                        </ul>
                        <p class="text-muted text-white"> A description specifying entry's connection to cultural or filmmaking diversity must be submitted with entry for the entry to be considered valid
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 text-center">
                    <div class=" service-box" data-wow-delay=".7s">

                        <h3 class="text-primary text-white">DEADLINES</h3>
                        <p class="text-muted text-white">Early Submission: SEPTEMBER 30

                            Regular Submission: OCTOBER 30

                            Extended Submission: JANUARY 30
                        </p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-4 col-sm-12 text-center">
                    <div class=" service-box" data-wow-delay=".8s">

                        <h3 class="text-primary text-white">SUBMISSION FEE</h3>
                        <p class="text-muted text-white">Early Submission: $15 </p>

                        <p class="text-muted text-white"> Regular Submission: $25 </p>

                        <p class="text-muted text-white"> Extended Submission: $55 </p>

                        <p class="text-muted text-white"> *Current UCLA students are exempt from early and regular submission fees </p>

                        <p class="text-muted text-white"> *Financial waivers available upon request </p>
                    </div>
                </div>
            </div>
        </div>

    </section> 

    <div ng-include="'/views/footer.html'"> </div>
