<section id="sponsors" class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading text-primary">The Team</h2>
                <hr class="primary">

                <p class="text-black">LAICFF (Los Angeles International Culture Film Festival) is founded by ISFA (International Student Film Association), a registered student organization at University of California-Los Angeles(UCLA) and film production club consisting of more than 400 group members who share the same passion for film. </p>

                <p class="text-black"> Since 2012, ISFA has been continuously producing independent short films, as well as launching video campaigns for other organizations. It is highly recognized by both domestic and international film and media communities, including Campus MovieFest and China Central Television (CCTV). ISFA also actively works with multiple film and cultural groups in Los Angeles and major film schools around the globe, such as Eleven Arts Inc., Communication University of China, and Beijing Film Academy. </p>

                <p class="text-black"> With the aforementioned advantages, ISFA currently focuses on increasing the influence of international culture and cinematic art on UCLA campus and in broader community. </p>

                <br>
                <br>
                <img class="isfa-logo" ng-src="images/ISFA.png">

            </div>
        </div>
    </div>
</section>

    <div ng-include="'/views/footer.html'"> </div>
