<section class="bg-primary">
    <div class="container">
        <div class="row">
            <div class="col-lg-1 col-md-1 col-sm-0"></div>
            <div class="col-lg-10 col-md-10 col-sm-12">
                <h2 class="text-center text-primary section-heading">About Volunteering</h2>
                <hr>
                <p class="text-black text-center"> LAICFF is a film festival that comes from international community, and thrives to serve back to international community. To achieve this, we rely on the generosity and dedication of volunteers. Volunteers are needed to assist in all areas of the LAICFF: from theater entrance to guest housing. Of course, there are exciting benefits such as meeting film professionals and seeing the official selections before everyone else. But the real benefits of volunteering aren't things, or even films – they're the experiences. If you're ready for a one-of-a-kind experience, read on and apply to join us this November!</p> 
                <div class="text-center"> <p class="text-black"> <strong> The application to volunteer for the 2015 LAICFF is now open. </strong> </p> </div>
                <br>
                <div class="text-center"> <a href="https://docs.google.com/forms/d/18ezQLxXKDdXIVfGO9B-NtV3rz_EMqqjbOCWdhzByqgI/viewform" class="btn btn-lg btn-primary"> APPLY TO BE A VOLUNTEER </a> </div>
            </div>
            <div class="col-lg-1 col-md-1 col-sm-12"></div>
        </div>
    </div>
</section>

<div ng-include="'/views/footer.html'"> </div>
