<section class="bg-primary">

<div class="container" style="text-align: center">
	<p class="text-primary"> <strong> Jury’s Culture Award:</strong>  <a ng-href="#/project/jaya"> JAYA </a> </p>
	<p class="text-primary"> <strong> Best Picture:</strong>  <a ng-href="#/project/free-party"> FREE PARTY </a> </p>

	<p class="text-primary"> <strong> Best Animation:</strong>  <a ng-href="#/project/sebastian"> SEBASTIAN </a> </p>
	<p class="text-primary"> <strong> Best Director: </strong> <a ng-href="#/project/roubado"> ROUBADO </a> </p>

	<p class="text-primary"> <strong> Best Cinematography:</strong>  <a ng-href="#/project/not-a-word-about-your-mother"> NOT A WORD ABOUT YOUR MOTHER  </a></p>

	<p class="text-primary"> <strong> Best Production Design: </strong> <a ng-href="#/project/the-good-old-days"> THE GOOD OLD DAYS </a> </p>

	<p class="text-primary"> <strong> Best Documentary:</strong>  <a ng-href="#/project/side-roads"> SIDE ROADS  </a></p>

	<p class="text-primary"> <strong> Best Screenplay:</strong>  <a ng-href="#/project/samuel-colt"> SAMUEL COLT </a> </p>
</div>

</section>

<!--footer-->
<div ng-include="'/views/footer.html'"></div>