<div class="row">
                <div class="custom-padding">
                    <h2 class="text-center text-primary section-heading">FABIAN WAGMISTER</h2>
                    <hr>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-md-3">
                    <a class="block" ng-click="goBackToList()"> Go Back </a>
                    <img ng-src="images/judges/unnamed-2.png" class="profile-pic" alt="...">
                </div>

                <div class="col-sm-12 col-md-9">
                <p class="text-black"> Associate Professor Fabian Wagmister is vice chair of production in the Department of Film, Television and Digital Media. He is also the founding director of the Center for Research in Engineering, Media and Performance (REMAP).  </p>

                <p class="text-black"> Wagmister’s current work focuses on alternative technological modes for collective creativity. He collaborates with diverse communities to generate reflexive media systems emphasizing cultural and locative specificity. In this context technology and culture converge into a performative social practice of investigation and expression. </p>

                <p class="text-black"> He has focused much of his recent work at UCLA TFT on interpretive media systems for the Los Angeles State Historic Park (LASHP) and the surrounding neighborhoods. In collaboration with the California Department of State Parks and Recreation, Wagmister created the Interpretive Media Laboratory @ LASHP (IMLab). In late 2014, Wagmister and his REMAP/IMLab teams debuted an immersive interpretive media environment for the new Welcome Center at the park. </p>

                <p class="text-black"> Past projects include the mobile augmented reality application Skyline Traces (2012), the interactive installation Memoria Barrial (2012), and the neighborhood-scale expressive environment Navilandia Al Sur (2012).  </p>

                <p class="text-black"> Wagmister received his bachelor of arts degree in theater arts from UC Santa Cruz and his M.F.A. in film directing from the UCLA School of Theater, Film and Television.
                </p>
                </div>
              </div>