<div class="row">
    <div class="custom-padding">
        <h2 class="text-center text-primary section-heading">Maja Manojlovic</h2>
        <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-3">
        <a class="block" ng-click="goBackToList()"> Go Back </a>
        <img ng-src="images/judges/maja.png" class="profile-pic" alt="...">
    </div>

    <div class="col-sm-12 col-md-9">
    <p class="text-black"> A film scholar, Maja Manojlovic’s research interests are in film and media aesthetics, theory and philosophy; digital media theory, aesthetics and culture; 3-D cinema aesthetics; anima- tion and Japanese animé; videogames and game theory; virtual and interactive environments; media, landscape and environ- ment; experimental and documentary film; classical and con- temporary film theory; world and national cinemas; as well as critical writing about film and media. </p>

    <p class="text-black"> Maja has taught graduate seminars of various topics, such as Narrative Studies and Visual Perception, at the UCLA Cinema and Media Studies Program. In addition to teaching at the UCLA Cinema and Media Studies Program, she also serves as the instructor for the first year doctoral students at the USC’s Media Arts and Practice Program and as a faculty at Dodge College of Film and Media Arts of Chapman University. </p>
    
    </div>
  </div>