<div class="row">
                <div class="custom-padding">
                    <h2 class="text-center text-primary section-heading">MICHAEL BERRY</h2>
                    <hr>
                </div>
              </div>

              <div class="row">
                <div class="col-sm-12 col-md-3">
                    <a class="block" ng-click="goBackToList()"> Go Back </a>
                    <img ng-src="images/judges/unnamed-1.png" class="profile-pic" alt="...">
                </div>

                <div class="col-sm-12 col-md-9">
                <p class="text-black"> Michael Berry is the author of A History of Pain: Trauma in Modern Chinese Literature and Film, which explores literary and cinematic representations of atrocity in twentieth century China, Speaking in Images: Interviews with Contemporary Chinese Filmmakers a collection of dialogues with contemporary Chinese filmmakers including Hou Hsiao-hsien, Zhang Yimou, Stanley Kwan, and Jia Zhangke, and the monograph, Jia Zhang-ke’s Hometown Trilogy, which offers extended analysis of the films Xiao Wu, Platform, and Unknown Pleasures. His most recent book is is full-length interview with the award-winning film director Hou Hsiao-hsien entitled Boiling the Sea: Hou Hsiao-hsien’s Memories of Shadows and Light(in Chinese). (Taipei, INK, 2014). </p>

                <p class="text-black"> An active literary translator, Berry has translated several important contemporary Chinese novels by Yu Hua, Ye Zhaoyan, and Chang Ta-chun. His co-translation with Susan Chan Egan of Wang Anyi’s Song of Everlasting Sorrow was awarded Honorable Mention for the 2009 MLA Lois Roth Award. </p>

                <p class="text-black"> In addition to his academic writing, Berry extends the scope of his work through various media consultant positions, popular writings and jury service. He has frequently been featured in various mainstream media outlets in the US and China, including NPR, the New York Times, the China Daily, and The People’s Daily. He is a contributor to the ChinaFileand his popular essays in Chinese have been published in the weekly Friday supplement of The Beijing News. He has served as a jury member for the Golden Horse Film Festival, Fresh Wave Film Festival, and theDream of the Red Chamber Literary Award. </p>


                </div>
              </div>