<div class="row">
    <div class="custom-padding">
        <h2 class="text-center text-primary section-heading">Michael Emmerich</h2>
        <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-3">
        <a class="block" ng-click="goBackToList()"> Go Back </a>
        <img ng-src="images/judges/michael-emmerich.png" class="profile-pic" alt="...">
    </div>

    <div class="col-sm-12 col-md-9">
    <p class="text-black"> Michael Emmerich’s scholarly interests in Japanese culture range from Japanese films, anime, to literature, from the classi- cal, court-centered prose and poetry of the Heian period to the popular printed fiction of the early modern age, and on from there to the prose fiction of modern and contemporary times. His engagement with the literary products of these diverse periods is informed by a sensitivity to the material and visual forms that writing takes, and by an academic commit- ment to translation studies with its potential for approaching literature in a manner relatively unconstrained by linguistic and temporal boundaries, both among and within nations. </p>

    <p class="text-black"> Besides his teaching and research, Professor Emmerich is also a world-renowned English translator of Japanese literature. As a translator, he’s been most closely working with Yoshimoto Banana and Inoue Yasushi. He is the author of"The Tale of Genji": Translation, Canonization, and World Literature, the editor of Read Real Japanese Fiction and New Penguin Paral- lel Texts: Short Stories in Japanese, and the translator of numerous books from the Japanese. </p>
    
    </div>
  </div>