<div class="row">
                <div class="custom-padding">
                    <h2 class="text-center text-primary section-heading">MIKE GABRAWY</h2>
                    <hr>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-md-3">
                    <a class="block" ng-click="goBackToList()"> Go Back </a>
                    <img ng-src="images/judges/unnamed-0.png" class="profile-pic" alt="...">
                </div>

                <div class="col-sm-12 col-md-9">
                <p class="text-black"> Producer of several feature films and numerous shorts, Mike Gabrawy’s mission is to make films that not only entertain but also inspire. Having great success early on in the late 1990s, Gabrawy was responsible for acquiring and developing the Sony PlayStation game RESIDENT EVIL for Constantin Films which became Sony ScreenGems’ highest grossing film for the year it was released launching one of the most successful sequel franchises of all time, grossing almost $700 million worldwide, second only to the Spiderman Franchise for Sony.  </p>

                <p class="text-black"> In 2008, Gabrawy joined Arclight Films to build Arclight’s production and development infrastructure. In a short time, Gabrawy has produced, secured and/or developed a number of high profile projects. In addition to the Venice Film Festival premiere of BAIT 3D, the first Singapore-Australian co-production, Gabrawy shepherded several projects currently in various stages of development, production and post-production including THE COURIER, directed by Academy Award Nominee Hany Abu-Assad (PARADISE NOW), a live action version of Mulan written by Jan Sardi (SHINE, THE NOTEBOOK) set to star Zhang Ziyi, and HEART OF DARKNESS, a futuristic retelling of the Joseph Conrad classic to be directed by Roger Donaldson (BANK JOB). </p>

                <p class="text-black"> Leading up to his producing career and joining Arclight, Mike Gabrawy was hired as an executive by German giant Constantin Films. In addition to RESIDENT EVIL, it was here that he actively developed several projects including the comic book classics FANTASTIC FOUR and SILVER SURVER. Before these commercial milestones, Gabrawy moved through the ranks in production forging strong industry relationships and was hired by several top producers to work in various production posts on major releases such as NAKED GUN 33 1/3, A LITTLE PRINCESS, STARGATE, WATERWORLD and INDEPENDENCE DAY. </p>

                <p class="text-black"> Arclight today is one of the world’s leading international sales companies for theatrical, television and home video. It has sold over 150 motion pictures including the Best Picture Oscar winner CRASH, and Golden Globe Best Picture Nominee BOBBY. Arclight Films has also been co-producing films with China, with the example of OUTCAST.  </p>
                </div>
              </div>