<div class="row">
                <div class="custom-padding">
                    <h2 class="text-center text-primary section-heading">MITCHELL BLOCK</h2>
                    <hr>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-md-3">
                    <a class="block" ng-click="goBackToList()"> Go Back </a>
                    <img ng-src="images/judges/mitchelle-block.png" class="profile-pic" alt="...">
                </div>

                <div class="col-sm-12 col-md-9">
                  <p class="text-black"> Mitchell Block is not only a successful producer, but also a business executive and an expert in placing both completed works into distribution & working with producers on making projects fundable. </p>

                  <p class="text-black"> Block has been teaching producing at USC School of Cinematic Arts since 1978. His company, Direct Cinema Limited, has handled the marketing and distribution of over 60 Oscar nominated and winning documentaries, shorts and animated films.  </p>

                  <p class="text-black"> Block’s work VESSEL premiered at the 2014 SXSW. It took both a jury and audience award. It also received an audience award at Hot Docs and the Peter Wintonick Award at the Sheffield Festival. </p>

                  <p class="text-black"> POSTER GIRL, produced by Block, was nominated for a Documentary Academy Award. The film premiered at the prestigious Telluride and IDFA film festivals and was selected by the IDA as the "Best" Doc Short 2011. POSTER GIRL was also nominated for two Emmy Awards - Best Information Program & Best Doc Editing.</p>

                  <p class="text-black"> Block also conceived, co-created and was an executive producer of the Emmy Award-winning 10-hour documentary series CARRIER and was a producer of its companion feature, ANOTHER DAY IN PARADISE, both financed and distributed by Icon Productions. Block is also the head of “The Carrier Project”. Both CARRIER and ANOTHER DAY IN PARADISE premiered on PBS in May 2008. The series aired worldwide on the National Geographic Channels. </p>

                  <p class="text-black"> Block was an executive producer of STEALING AMERICA: VOTE BY VOTE, a feature documentary about the 2004 and 2006 elections, which opened in New York and Los Angeles in August 2008. The film received a Broadcast Critics Award.</p>

                  <p class="text-black"> NO LIES which he produced-directed was named in 2008 to the Library of Congress' National Register of Films. Only 600 films produced in America since 1895 are included.</p>

                  <p class="text-black"> For seven years, Block worked as an acquisitions consultant for HBO Original Pictures (documentaries). In 2002, he was an executive producer of the Academy Award-winning documentary BIG MAMA for HBO.</p>

                  <p class="text-black"> Mitchell Block is also Executive Director of Programming for “Raw Science” a new network that looks at “Advances That Will Change Your World.”  As head of programming he shapes the network’s production of short films to series as well as aquistions of completed films. The network launched in the fall of 2013 and will do a full relaunch in September 2014.</p>

                  <p class="text-black"> Block received an BFA & MFA from NYU's, Tisch School a MBA from Columbia U's Grad School of Business. Block was a producing fellow at the American Film Institute. He's a member of Academy of Motion Picture Arts & Sciences, the Television Academy, a founding member of BAFTA-LA, a life member of the University Film & Video Assoc & the International Documentary Assoc. </p>

                </div>
              </div>