<div class="row">
    <div class="custom-padding">
        <h2 class="text-center text-primary section-heading">Robert Chi</h2>
        <hr>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-3">
        <a class="block" ng-click="goBackToList()"> Go Back </a>
        <img ng-src="images/judges/robert-chi.png" class="profile-pic" alt="...">
    </div>

    <div class="col-sm-12 col-md-9">
    <p class="text-black"> Robert Chi is a cinema scholar and an Associate Professor in the UCLA Department of Asian Languages and Cultures. He holds a PhD in Comparative Literature (Harvard University) and has previously taught at SUNY Stony Brook (Stony Brook University) as well as Tunghai University in Taiwan. Professor Chi’s teaching and research focus on Chinese-language cine- mas, including those of China, Hong Kong, and Taiwan. His recent and ongoing research covers topics such as cinema and public memory, globalization and locality, genres including Chinese opera films and martial arts films, and the cinema of Shaw Brothers. </p>

    <p class="text-black"> His publications include the following: “Dalu dianying zhong de Taiwan” [Taiwan in mainland Chinese cinema], Zhongwai wenxue [Chung wai literary monthly] (April 2006); “Fotogra- fia, Memoria e Giustizia: La Strage di Nanchino del 1937”, Dopo la Violenza: Costruzioni di Memoria nel Mondo Con- temporaneo (Napoli: L’Ancora del Mediterraneo, 2005); “A World of Sadness?”, Trauma and Cinema: Cross-Cultural Explorations, (Hong Kong UP, 2004); “The Red Detachment of Women: Resenting, Regendering, Remembering”, and more. </p>
    
    </div>
  </div>