              <div class="row">
                <div class="custom-padding">
                    <h2 class="text-center text-primary section-heading">Virginia Kuhn</h2>
                    <hr>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12 col-md-3">
                    <a class="block" ng-click="goBackToList()"> Go Back </a>
                    <img ng-src="images/judges/unnamed-4.png" class="profile-pic" alt="...">
                </div>

                <div class="col-sm-12 col-md-9">
                <p class="text-black"> Virginia Kuhn’s work centers on digital rhetoric and the hybrid texts it engenders, those which blur the lines between the factual and the fictive, between word and image, between art and argument. Her current research endeavor, the Large Scale Video Analytics project, applies the power of supercom- puting to analyzing vast video archives.
                Kuhn directs the Honors in Multimedia Scholarship program, the graduate certificate in Digital Media and Culture and teaches a variety of graduate and undergraduate classes in new media. In 2005 she successfully defending one of the first born-digital dissertations in the United States, titled Ways of Composing: Visual Literacy in the Digital Age , which chal- lenged archiving and copyright conventions. Committed to helping shape open source tools for scholarship, she published the first article created in the authoring platform, Scalar , titled “Filmic Texts and the Rise of the Fifth Estate,” and she just recently edited her second peer-reviewed digital anthology, MoMLA: From Gallery to Webtext .  </p>

                <p class="text-black"> Kuhn co-chairs the Media Literacy + Pedagogical Outreach Scholarly Interest Group for the Society for Cinema and Media Studies and serves on the editorial boards of a number of print and digital journals. </p>

                </div>
              </div>